<% content_for :head_libraries, jquery_include_tags(:jquery_ui => false) %>
<% content_for :head, javascript_include_tag('application') %>

<%= javascript_include_tag 'galleria' %>


<script>
  Galleria.loadTheme('/galleria/themes/kudo/galleria.kudo.js');
</script>

<% content_for :body_content_title do %>
  <%= @gallery.name %>
<% end %>

<% content_for :body_content_left do %>
  <p>
    <%= raw @gallery.body %>

  </p>
  <div id="gallery" class="gallery_page">
    <% @gallery.gallery_entries.image.each do |gallery_entry| %>
      <%= image_fu gallery_entry.image, :full %>
    <% end -%>
  </div>
  <div class="clear"></div>


  <script>
    $('#gallery').galleria({
      width:600,
      height:600
    });
  </script>

<% end %>

  <h2>Остальные галлереи</h2>
  <ul id="galleries">
    <% @galleries.each do |gallery| %>
      <li>
        <%= link_to gallery.name, gallery_url(gallery) %>
      </li>
    <% end %>
  </ul>

<%= render :partial => "/shared/content_page" %>
